.flexslider{
  width: 950px;
  background-color: blue;
  margin: 5px 5px;
  cursor: pointer;
}
body{
  font-size: 20px;
}

p{
  font-size: 0.8em;
}

a{
  cursor: pointer;
}

.topbar{
  font-size: 1em;
}

.slideshow-text1{
  margin: 0px 4px;
  width: 100%;
  font-size: 0.8em;
}

.slideshow-text2{
  margin: 0px 4px;
  width: 100%;
  font-size: 0.8em;
}

.project-info-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.project-info {
  width: 78.5%;
  margin: 20px 0px;
  color: #ff6114;
  display: flex;
  justify-content: flex-start;
}

.project-info-item {
width: 47%;
font-weight: 400;
}

.between{
    width: 6%;
  }

.project-info-language {
width: 53%;
font-weight: 700;
font-size: 0.8em;
}

input[type=radio] {
opacity: 0;
display: none;

}

.project-info-language:last-of-type {
width: 0;
margin-right: 0;
}

.project-info-item:last-of-type {
margin: 0;
}

.project-video{
  margin-top: 20px;
  margin-left: 4px;
  width: 942px;
  height: 530px;
}

.project-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 400;
}
.project-team-item{
  font-family: 'Inter', sans-serif;
  width: 78.5%;
  font-weight: 400;
  font-size: 0.8em;
}

.project-exhibited {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 400;
  margin: 20px 0px;
}
.project-exhibited-item{
  font-family: 'Inter', sans-serif;
  width: 78.5%;
  font-weight: 400;
}

.project-text-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.project-text {
width: 78.5%;
display: flex;
justify-content: flex-start;
margin-top: 40px;
padding: 20px 0px;
border-top:  1px #ff6114;
border-bottom: 1px #ff6114;
border-left: 0px;
border-right: 0px;
border-style: solid;
}

.project-text-item {
width: 47%;
}

.project-text-item:last-of-type {
margin: 0;
}

.additional-item-vert{
  margin-left: 5px;
}

.additional-item-sound{
  margin-left: 5px;
}

.right{
  justify-content: flex-end;
}

.left{
  justify-content: flex-start;
}

.launchpad{
  background-color: white;
  height:58px;
  width:58px;
  border-radius: 2px;
  border: 1px solid #282828;
  cursor: pointer;
  margin: 5px
}

.launchpad:hover{
  background-color: #ff6114;
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
body {
  font-size: 17.5px;
}
.project-info{
  width: 68%;
}
.project-team-item{
  width: 68%;
}
.project-text{
  width: 68%;
}
.project-video{
  width: 100%;
  margin-top: -8em;
}
.additional-item-vert{
  height: 348px;
  margin: 0 auto;
}
.additional-item-sound{
  width: 68%;
}
}

/* Mobile Styles */
@media only screen and (max-width: 640px){
body{
  font-size: 15px;
}
  .project-info-language{
    width: 20%;
  }
  .between{
    width: 0;
  }
  #englishbutton{
    display: flex;
    justify-content: flex-end;
  }
  .project-info{
    width: 88%;
  }
  .project-info-item{
    width: 100%;
    margin: 0;
  }
  .project-team-item{
    width: 88%;
  }
  .project-exhibited-item{
    width: 88%;
  }
  .project-text{
    width: 88%;
  }
  .project-text-item{
    width: 100%;
    margin: 0;
  }
  .project-video{
    width: 100%;
    height: 100%;
    margin-bottom: 15%;
  }
  .underline{
    text-decoration: underline;
  }
  .additional-item-sound{
    width: 88%;
    height: 60px;
  }
  .leftcor{
    margin-left: -6px;
  }
}
