* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  font-size: 20px;
  color: #ff6114;
}

a {
  text-decoration: none;
  color: #282828;
  display: flex;
}

a:hover{
  color: #ff6114;
}

p {
  color: #ff6114;
  display: flex;
  justify-content: flex-start;
}

img{
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size: 1em;
  margin-top: 1.5em;
}

h4{
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.menu-container {
  color: #ff6114;
  padding: 40px 0px 0px 0px;
  display: flex;
  font-weight: 700;
  font-size: 1em;
  justify-content: center;
}

.category-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1em;
  font-weight: 700;
  font-size: 0.9em;
}

.year-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1em;
  font-weight: 700;
  font-size: 0.9em;
}

.project-grid-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}

.project-grid{
  width: 79.167%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.category {
  /* width: 20px;
  height: 20px;
  background-color: red;
  margin: 10px 0px; */
  margin: 5px 0px;
}

.category:first-of-type {
  margin-bottom: 20px;
}

.category:hover {
  color: #ff6114;
  cursor: pointer;
}

.year {
  margin: 5px 0px;
}

.menu {
  width: 78.473%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.line {
  height: 1px;
  width: 78.5%;
  border-color: transparent;
  background-color: #ff6114;
  border-width: 0px;
  margin: 0 auto;
}

.lineabout {
    height: 1px;
    width: 78.5%;
    border-color: transparent;
    background-color: #ff6114;
    border-width: 0px;
    margin: 0 auto;
  }

.project-item{
  margin: 5px 5px;
  flex: 1;
  overflow: auto;
}

/* .project-item-wrap:hover{
  border-style: solid;
  border-color: #ff6114;
  cursor: pointer;
} */

.project-item-wrap:hover .project-item{
  box-sizing: content-box;
  border-style: solid;
  border-color: #ff6114;
  border-width: 5px;
  cursor: pointer;
  margin:0px;
}

.project-item-wrap{
  position: relative;
  align-self: flex-start;
  display: inline-flex;
}

.threerow{
  width: 33.3333%;
}

.fourrow{
  width: 25%;
}

.img-description{
  position: absolute;
  /* top: 50%; */
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  visibility: hidden;
}

.project-item-wrap:hover .img-description{
visibility: visible;
}

.about-picture{
  background-color: blue;
  margin: 5px 0px 0px 5px;
}

.contact-link{
  font-weight: 700;
  font-size: 1em;
  margin-top: 15px;
  margin-left: 5px;
}

.bio-container{
  margin: 25px 0px 0px 5px;
}

.bio-text{
  margin-top: 15px;
  list-style-type: none;
}

.about-text-item {
  font-size: 0.8em;
  margin: 20px 0px 5px 0px;
  width: 47%;
}

.about-text-item:last-of-type{
  margin:20px 0px 5px 0px;
}

.about-text{
  color: #ff6114;
  display: flex;
  justify-content: flex-start;
}

.between{
    width: 6%;
  }

.bio-text-item{
  font-size: 0.8em;
  color: #ff6114;
}

.picture-container{
  width: 27%;
  margin-right: 3%;
}

.hover {
  color: #ff6114;
}

.textColor{
  color: #ff6114;
}

.project-info-language {
  width: 53%;
  font-weight: 700;
  font-size: 0.8em;
  display: inline-block;

}

.project-info-language:last-of-type{
margin-right: 0;
width: 0%;
}

.button-container{
  width: 69.5%;
  position: relative;
  flex-wrap: wrap;
}

input[type=radio] {
opacity: 0;
display: none;
}

.endofpage{
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width: 1340px){

}

@media only screen and (max-width: 1220px){

}

/* Tablet Styles */
@media only screen and (min-width: 641px) and (max-width: 1007px){
  body{
    font-size: 17.5px;
  }
  .menu{
    width: 68%;
  }
  .line{
    width: 68%;
  }
  .project-grid {
    width: 69%;
  }
  .project-grid-container{
    margin-top: 20px;
  }
  .contact-link{
    width: 300px;
    float: left;
    font-size: 16px;
  }

  .project-item-wrap{
    width: 50%;
    height: auto;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 640px){
  body{
    font-size: 15px;
  }
  .menu{
    width: 88%;
  }
  img{
    width: 100%;
    height: auto;
  }
  .project-info-language {
    color: #282828;
    width: 20%;
  }
  .about-text{
    width: 100%;
  }
  #englishbutton{
    display: flex;
    justify-content: flex-end;
  }
  .english-text{
   display: none;
  }
  .line{
    width: 88%;
  }
  .project-grid {
    width: 89%;
  }
  .project-grid-container{
    margin-top: 20px;
  }
  .project-item-wrap{
    width: 50%;
    height: auto;
  }
    .category-container {
    visibility: hidden;
    }
    .year-container {
    visibility: hidden;
    }
    .contact-link{
      width: 120px;
      float: left;
    }
    .about-text-item{
      width: 100%;
    }
    .between{
      width: 0;
    }
    .underline{
      text-decoration: underline;
      color: #ff6114;
    }
}
