* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  font-size: 28px;
  background-color: white;
  color: white;
}
.ClickContainerRed{
  background-color: #FF0000;
  height: calc(100dvh - 48px);
  margin: 24px;
  padding: 0;
}

.ClickContainerGreen{
  background-color: #00FF00;
  height: calc(100dvh - 48px);
  margin: 24px;
  padding: 0;
}

.ClickContainerBlue{
  background-color:  #0000FF;
  height: calc(100dvh - 48px);
  margin: 24px;
  padding: 0;
}

.InfoButtonRed{
  position: absolute;
  display: flex;
  font-family: 'Pixelify Sans', sans-serif;
  vertical-align: center;
  justify-content: center;
  align-items: center;
      top: 40px;
      right: 40px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      background-color: white;
      color: #FF0000;
      font-size: 1.5rem;
      box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.InfoButtonGreen{
  position: absolute;
  display: flex;
  font-family: 'Pixelify Sans', sans-serif;
  vertical-align: center;
  justify-content: center;
  align-items: center;
      top: 40px;
      right: 40px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      background-color: white;
      color: #00FF00;
      font-size: 1.5rem;
      box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.InfoButtonBlue{
  position: absolute;
  display: flex;
  font-family: 'Pixelify Sans', sans-serif;
  vertical-align: center;
  justify-content: center;
  align-items: center;
      top: 40px;
      right: 40px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      background-color: white;
      color: #0000FF;
      font-size: 1.5rem;
      box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.Clicktext{
  display: flex; 
  width: 100%;
  height: 90%;
  padding: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Infotext{
  display: flex; 
  width: 100%;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}